@import "index.scss";

.wrapper {
    position: relative;
}

.layout {
    position: relative;
    color: $white;
    display: flex;

    .main {
        width: calc(100% - 300px);
        background: $background;
        padding: 10px;
        color: $white;
        margin-top: 80px;
        margin-left: auto;
    }
}
