@import "index.scss";

.wrapper {
    position: relative;
}

.layout {
    position: relative;
    color: $white;
    display: flex;
    .sidebar {
        height: 100vh;
        background: $primary;
        color: $white;
        padding: 0 20px;
        width: 300px;
    }

    .main {
        background: $background;
        padding: 10px;
        color: $white;
        margin-top: 80px;
    }
}
