<section class="sidebar">
  <div class="menu-wrapper">
    <a routerLink="/" class="logo">
      <img src="assets/images/fulllogo.png" alt="logo" class="logo" />
    </a>
    <div class="main-menu">
      <div
        class="item"
        [ngClass]="{ active: item.routerLink[0] === route }"
        *ngFor="let item of items"
      >
        <a [routerLink]="item.routerLink[0]" routerLinkActive="active">
          <i [class]="item.icon"></i> {{ item.label }}</a
        >
      </div>
    </div>
  </div>
  <div class="footer-menu">
    <p-divider></p-divider>
    <small>&copy; Le Dam Duy Phuc 2023</small>
  </div>
</section>
