<a (click)="handleClickCard()">
  <div class="card">
    <div class="top">
      <div
        class="tag"
        [ngStyle]="{
          'background-color':
            item.status === StatusEnum.TRADING
              ? '#00b825'
              : item.status === StatusEnum.AUCTION
              ? '#3b82f6'
              : item.status === StatusEnum.EXPIRED
              ? '#8f8f8f'
              : '#6c5ce7'
        }"
      >
        <ng-template [ngIf]="item.status === StatusEnum.TRADING">
          <span>Trading</span>
        </ng-template>
        <ng-template [ngIf]="item.status === StatusEnum.AUCTION">
          <span>Auction</span>
        </ng-template>
        <ng-template [ngIf]="item.status === StatusEnum.EXPIRED">
          <span>Expired</span>
        </ng-template>
        <ng-template [ngIf]="item.status === StatusEnum.ASSET">
          <span>Asset</span>
        </ng-template>
      </div>
      <img
        [src]="
          item.image || 'https://picsum.photos/seed/' + item.nftId + '/300'
        "
        alt=""
      />
    </div>

    <h2>{{ item.nftId! | shortenAddress }}</h2>
    <p class="owner">{{ item.owner! | shortenAddress }}</p>

    <div>
      <div class="item">
        <p>Price</p>
        <p>
          {{ item.price }}
        </p>
      </div>
      <div class="item" *ngFor="let attr of item.attributes | keyvalue">
        <p>
          {{ attr.key | uppercaseFirstLetter }}
        </p>
        <p>{{ attr.value }}</p>
      </div>
    </div>
    <div class="controls">
      <button
        icon="pi pi-check"
        (mouseover)="onMouseOverControlBtn()"
        (mouseleave)="onMouseLeaveControlBtn()"
        (click)="onClickControlBtn('trading')"
        [disabled]="item.status !== StatusEnum.TRADING"
        [ngClass]="{
          primaryBtn: item.status === StatusEnum.TRADING,
          disabledBtn: item.status !== StatusEnum.TRADING
        }"
      >
        Trading
      </button>
      <button
        icon="pi pi-times"
        (mouseover)="onMouseOverControlBtn()"
        (mouseleave)="onMouseLeaveControlBtn()"
        (click)="onClickControlBtn('auction')"
        [disabled]="item.status !== StatusEnum.AUCTION"
        [ngClass]="{
          secondaryBtn: item.status === StatusEnum.AUCTION,
          disabledBtn: item.status !== StatusEnum.AUCTION
        }"
      >
        Auction
      </button>
    </div>
  </div>
</a>
