<a (click)="handleClickCard()">
  <div class="card">
    <img
      [src]="item.image || 'https://picsum.photos/seed/' + item.nftId + '/300'"
      alt=""
    />

    <h2>{{ item.nftId | shortenAddress }}</h2>
    <small>{{ item.owner | shortenAddress }}</small>

    <div>
      <div *ngFor="let attr of item.attributes | keyvalue">
        {{ attr.key }}: {{ attr.value }}
      </div>
    </div>
    <div class="controls">
      <button
        class="primaryBtn"
        icon="pi pi-check"
        (mouseover)="onMouseOverControlBtn()"
        (mouseleave)="onMouseLeaveControlBtn()"
        (click)="onClickControlBtn('trading')"
      >
        Trading
      </button>
      <button
        class="secondaryBtn"
        icon="pi pi-times"
        (mouseover)="onMouseOverControlBtn()"
        (mouseleave)="onMouseLeaveControlBtn()"
        (click)="onClickControlBtn('auction')"
      >
        Auction
      </button>
    </div>
  </div>
</a>
