<p-toast position="bottom-right"></p-toast>
<header class="header">
  <button class="secondaryBtn btn" (click)="addCustomToken()">
    Add token to your wallet
  </button>

  <button class="primaryBtn btn" (click)="connectWallet()" *ngIf="!account">
    Connect your wallet
  </button>

  <p-overlayPanel #op class="panel">
    <button class="resetBtn" (click)="handleLogout(op)">
      <i class="pi pi-sign-out" style="margin-right: 10px"></i>Disconnect
    </button>
  </p-overlayPanel>
  <button (click)="op.toggle($event)" class="primaryBtn btn" *ngIf="account">
    {{ account | shortenAddress }}
  </button>
</header>
