<app-home-layout>
  <section class="wrapper">
    <div class="welcome-section">
      <h1>Welcome to Plethora: Your Gateway to the Blockchain Ecosystem!</h1>
      <p>Unlock the Future with Plethora - Your All-in-One Blockchain Hub</p>
    </div>

    <div class="features-section">
      <div class="features-content">
        <h2>Discover Our Features:</h2>
        <div class="feature">
          <h3>dApps Marketplace</h3>
          <p>
            Immerse yourself in a universe of decentralized applications. Our
            curated marketplace offers a wide spectrum of dApps catering to
            various interests – from finance and gaming to art and beyond.
            Experience the freedom of decentralized services that put you in
            control.
          </p>
        </div>
        <div class="feature">
          <h3>Liquidity Pools</h3>
          <p>
            The future of finance lies in your hands. With Plethora's liquidity
            pools, you can actively participate in the growth of your favorite
            blockchain projects. Provide liquidity and earn rewards, or
            seamlessly swap between different tokens. Your contributions drive
            the decentralized economy.
          </p>
        </div>
        <div class="feature">
          <h3>Smart Swaps</h3>
          <p>
            Say goodbye to traditional exchanges and embrace instantaneous,
            secure swaps directly on Plethora. Our cutting-edge technology
            ensures your transactions are fast, reliable, and private. Whether
            you're a seasoned trader or a curious beginner, our platform caters
            to your needs.
          </p>
        </div>
      </div>

      <div class="img1">
        <img src="assets/images/home-1.png" alt="img1" />
      </div>
    </div>

    <div class="why-choose-section">
      <h2>Why Choose Plethora?</h2>
      <ul>
        <li>
          <h3>Simplicity Meets Power</h3>
          <p>
            We believe in making blockchain accessible to everyone. Our
            user-friendly interface and intuitive design guide you through
            complex processes with ease, empowering you to harness blockchain's
            true potential.
          </p>
        </li>
        <li>
          <h3>Security First</h3>
          <p>
            Your security is our priority. Our platform employs state-of-the-art
            encryption and security protocols, ensuring your assets and data are
            safe from any threats. With Plethora, you're in control of your
            digital identity.
          </p>
        </li>
        <li>
          <h3>Diverse Ecosystem</h3>
          <p>
            Plethora is more than just a platform – it's a thriving ecosystem.
            Connect with like-minded enthusiasts, explore innovative projects,
            and contribute to the growth of blockchain technology.
          </p>
        </li>
      </ul>
    </div>

    <div class="experience-section">
      <h2>Experience the Plethora Difference Today!</h2>
      <p>
        Embark on a journey that merges cutting-edge technology with limitless
        possibilities. Join us at Plethora and shape the future of blockchain
        together. Whether you're an investor, a developer, or simply curious
        about the potential of decentralized systems, you've found your home in
        the blockchain universe.
      </p>
      <p>
        Ready to get started? Sign up for your free Plethora account and step
        into a new era of digital empowerment.
      </p>
    </div>
  </section>
</app-home-layout>
