.wrapper {
    padding: 1rem 2rem;

    ul {
        list-style: none;
        padding: 0;
    }
    .welcome-section {
        h1 {
            margin: 0;
            line-height: 1.5;
        }
        p {
            margin: 0;
        }
    }

    .content {
        width: 100%;

        @media (min-width: 768px) {
            width: 50%;
        }
    }

    .img {
        padding: 20px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 768px) {
            width: 50%;
        }

        img {
            border-radius: 16 px;
            display: block;
            margin: 0 auto;
            width: 80%;
        }
    }

    .features-section,
    .why-choose-section,
    .experience-section {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .why-choose-section {
        flex-direction: row-reverse;
    }
}
