<app-home-layout>
  <section class="wrapper">
    <div class="top">
      <div class="img">
        <img src="" alt="" />
      </div>
      <div class="attr">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ex sint
        doloremque dignissimos asperiores suscipit quae pariatur, ratione rem
        ipsum.
      </div>
    </div>
    <div class="middle">
      <app-history-nft [history]="history"></app-history-nft>
    </div>
    <div class="bottom">
      <div class="same-type"></div>
    </div>
  </section>
</app-home-layout>
