<app-home-layout>
  <section class="wrapper">
    <div class="top">
      <div class="img">
        <img [src]="item.image" alt="" />
      </div>
      <div class="attr">
        <h1>{{ item.nftId! | shortenAddress }}</h1>
        <p class="owner">{{ item.owner! | shortenAddress }}</p>

        <div class="item" *ngFor="let attr of item.attributes | keyvalue">
          <p>
            {{ attr.key | uppercaseFirstLetter }}
          </p>
          <p>{{ attr.value }}</p>
        </div>

        <div class="controls">
          <button *ngIf="btnShown.includes('create_trading')" class="primaryBtn">Create Trading</button>
          <button *ngIf="btnShown.includes('create_auction')" class="secondaryBtn">Create Auction</button>
          <button *ngIf="btnShown.includes('cancel_trading')" class="cancelBtn">Cancel Trading</button>
          <button *ngIf="btnShown.includes('cancel_auction')" class="cancelBtn">Cancel Auction</button>
          <button *ngIf="btnShown.includes('buy')" class="primaryBtn">Buy</button>
          <button *ngIf="btnShown.includes('bid')" class="secondaryBtn">Bid</button>
          <button *ngIf="btnShown.includes('cancel')" class="cancelBtn">Cancel</button>
        </div>
      </div>
    </div>
    <div class="middle">
      <app-history-nft></app-history-nft>
    </div>
    <div class="bottom">
      <div class="same-type"></div>
    </div>
  </section>
</app-home-layout>
