.wrapper {
    padding: 20px 40px;

    .top {
        @media (min-width: 1024px) {
            display: flex;
        }
        gap: 2rem;

        .img {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (min-width: 1024px) {
                width: 40%;
                height: 40%;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 8px;

                @media (min-width: 768px) {
                    width: 50%;
                    height: 50%;
                }

                @media (min-width: 1024px) {
                    width: 80%;
                    height: 80%;
                }
            }
        }

        .owner {
            font-size: 0.9em;
            margin-bottom: 1em;
            color: #8e8e8e;
            margin-top: 0;
        }

        .attr {
            width: 100%;

            .item {
                display: flex;
                gap: 1rem;
                margin-bottom: 0.25em;
                p {
                    margin: 0;
                }
                > *:first-child {
                    width: 30%;
                }
            }
        }

        .controls {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
            max-width: 100%;
            overflow-x: auto;
            padding-bottom: 1rem;
            button {
                text-wrap: nowrap;
            }
        }
    }
}
