/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "index.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body {
    height: 100%;
    background: #000330;
    color: white;
    font-size: 20px;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.1px;
    line-height: 1.5;
}

img {
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    margin: 0;
    line-height: 2;
}
h1 {
    font-size: 2em;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
a {
    text-decoration: none;
    color: white;
}
.p-divider-horizontal.p-divider-left {
    margin: 0.5rem 0;
    &::before {
        border-color: rgba(255, 255, 255, 0.5) !important;
    }
}
.p-accordion {
    .p-accordion-tab {
        background: transparent !important;
        color: white !important;

        .p-accordion-content {
            background: transparent !important;
            color: white !important;
            border: none;
            padding: 1.25em 0.5em;
        }
    }
    .p-accordion-header .p-accordion-header-link {
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        background: transparent !important;
        color: white !important;
        border-radius: 0;
        padding: 1em 0.25em;

        &:hover,
        &:focus,
        &:active {
            background: transparent !important;
            color: white !important;
            box-shadow: none !important;
        }
    }
}

.p-slider {
    background: rgba(255, 255, 255, 0.5);
    .p-slider-handle {
        background: #ff8a0d;
        border: 2px solid #ff8a0d;
        &:hover,
        &:focus,
        &:active {
            background: #ff8a0d !important;
            border-color: #ff8a0d !important;
        }
    }
    .p-slider-range {
        background: #ff8a0d;
    }
}

.p-overlaypanel {
    background: #1c2546;
    color: white;
    border: none;
    box-shadow: 0 0 10px #0f1633;

    &::before,
    &::after {
        display: none;
    }

    .p-overlaypanel-content {
        padding: 0.75em 1.5em;
    }
}
.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link {
    .p-menuitem-text,
    .p-menuitem-icon {
        color: white;
    }
}
.p-menu .p-menuitem > .p-menuitem-content {
    color: white !important;
    * {
        color: white !important;
    }
}
.p-menu .p-menuitem:not(.p-highlight):not(.p-disabled) {
    .p-menuitem-content {
        background: #0f1633 !important;
        &:hover,
        &:active,
        &:focus {
            transition: all 0.3s ease;
            background: #1c2546 !important;
            color: white !important;
        }
    }
}
.p-menu {
    background: #0f1633;
    border: none;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
.resetBtn {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
}
.resetInput {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 0.75em;
    padding: 0.75em 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.primaryBtn {
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    display: block;
    padding: 0.5em 1.5em;
    transition: all 0.3s ease;
    font-size: 0.8em;
    border-radius: 4px;
    background: #ff8a0d;
    &:hover {
        box-shadow: 0 0 10px #ff8a0d;
    }
}
.secondaryBtn {
    @extend .primaryBtn;
    background: #3b82f6;
    &:hover {
        box-shadow: 0 0 10px #3b82f6;
    }
}

.cancelBtn {
    @extend .primaryBtn;
    background: #999;

    &:hover {
        box-shadow: 0 0 10px #999;
        background: #999;
    }
}
.disabledBtn {
    @extend .primaryBtn;
    background: #999;
    cursor: not-allowed;
    &:hover {
        box-shadow: none;
        background: #999;
    }
}
.input {
    background: #0f1633;
    border: none;
    outline: none;
    color: white;
    font-size: 0.75em;
    padding: 0.75em 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    &::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
    &:focus {
        border-bottom: 1px solid #ff8a0d;
    }
}

.fakeInput {
    @extend .input;
    cursor: not-allowed;
}
