/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "index.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body {
    height: 100%;
    background: #000330;
    color: white;
    font-size: 20px;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.1px;
    line-height: 1.5;
}

img {
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
}
h1 {
    font-size: 2em;
    margin: 1em 0;
}
.p-divider-horizontal.p-divider-left {
    margin: 0.5rem 0;
    &::before {
        border-color: rgba(255, 255, 255, 0.5) !important;
    }
}

.p-overlaypanel {
    background: #1c2546;
    color: white;
    border: none;
    box-shadow: 0 0 10px #0f1633;

    &::before,
    &::after {
        display: none;
    }

    .p-overlaypanel-content {
        padding: 0.75em 1em;
    }
}
.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link {
    .p-menuitem-text,
    .p-menuitem-icon {
        color: white;
    }
}
.p-menu .p-menuitem > .p-menuitem-content {
    color: white !important;
    * {
        color: white !important;
    }
}
.p-menu .p-menuitem:not(.p-highlight):not(.p-disabled) {
    .p-menuitem-content {
        background: #0f1633 !important;
        &:hover,
        &:active,
        &:focus {
            transition: all 0.3s ease;
            background: #1c2546 !important;
            color: white !important;
        }
    }
}
.p-menu {
    background: #0f1633;
    border: none;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
.resetBtn {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
}
.btnPrimary {
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    outline: none;
    background: linear-gradient(90deg, #ffaa0d, #d92b2b, #ec37d0, #ffaa0d);
    background-size: 400%;
    color: #fff;
    display: block;
    padding: 0.5em 1.5em;
    transition: all 0.3s ease;
    font-size: 0.8em;

    &:hover {
        animation: animate 7s linear infinite;
        box-shadow: 0 0 10px #ffaa0d;
    }
}
.btnSecondary {
    @extend .btnPrimary;
    background: linear-gradient(90deg, #ffaa0d, #d92b2b, #1c07d4, #ffaa0d);
    background-size: 400%;
}
.btnThird {
    @extend .btnPrimary;
    background: linear-gradient(90deg, #3b82f6, #d92b2b, #ec37d0, #3b82f6);
    background-size: 400%;
    &:hover {
        box-shadow: 0 0 10px #3b82f6;
    }
}
